.container {
  width: 84%;
  margin: 0 auto;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  background-color: transparent;
    color: #818181;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 2px;
    padding: 3px 10px;
    width: 100%;
}

.input {
    margin-top: 50px;
}
