.Gender .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.Gender .longhand {
  flex-flow: wrap row;
}
.Gender .flex-item {
  padding: 0;
}
.Gender label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Gender input:checked + label {
  background: #2196F3;
  color: white;
}
.Gender input {
  display: none;
}
