select {
    background-color: white;
    background-image: url("/static/img/chess-grid-pattern-background.png");
    background-position: right;
    background-repeat: no-repeat;
    border: solid 1px #b6b6b6;
    color: black;
    padding: .33em .5em;
    width: 100%;
    text-align: center;

    /*remove spin arrow*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
