.Error {
    font-size: 10px;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    height: 15px;
}

.Body {
    font-size: 10px;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    background-color: orangered;
}
