.CompletedScreen {
    position: relative;
    height: 100%;
    text-align: center;
}

.Button {
    height: 50px;
    width: 210px;
    background-color: whitesmoke;
    border: solid 1px #1b8dbb;
    border-radius: 5px;
    color: #1b8dbb;
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 30px;
    cursor: pointer;
}
