.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainScreen {
    width: 500px;
    height: 600px;
    border: solid 1px #999;
    border-radius: 8px;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.widget {
    height: 50px;
}

.cell {
    border-top: solid 1px #b6b6b6;
    border-left: solid 1px #b6b6b6;
    height: 100%;
    width: 100%;
}

.cell-container {
    border-right: solid 1px #b6b6b6;
    border-bottom: solid 1px #b6b6b6;
}
